body{
    font-family: "Acme", sans-serif;
    /* font-weight: 400; */
     font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.top-header{
    background-color: #0052FF;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 14%;
    font-size: 18px;

}

.top-header__nav {
    display: flex;
    gap: 30px;
   
}
.top-header__nav li{
    list-style: none;
    display: inline;
    font-weight: lighter;
}
.top-header__cta button{
    outline: none;
    padding: 10px 25px;
    border: 1px solid #fff;
    background: none;
    color: #fff;
    border-radius: 5px;
    font-family: "Acme", sans-serif;

}